body { 
    background: url("images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
  
body { 
    background: url("../images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body { 
    background-image: url("../images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#addSheet {
    position: absolute;
    top: 25px;
    right: 25px;
}
#addSheet a{
    font-size: 8pt;
    background-color: #404040;
    border-color: transparent;
}
#addSheet a:hover{
    color: #ffffff;
    background-color: #4885ed;
}

#player-one{
    z-index: 1;
}

#content-wrapper{
    min-height: 100%;
    position:relative;
}

#footer{
    z-index: 2;
    position: absolute;
    /* height: 100px; */
    bottom: 0px;
    width: 100%; 
}

#body{
    padding-bottom: 230px;
}

#mobile-search{
    visibility: hidden;
    clear: both;
  }

#mobile-search-container{
    background-color: rgba(247, 247, 247, 0.85);
    padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 600px) {
    #player-one{
      visibility: hidden;
      clear: both;
    }
    #mobile-search{
        visibility: visible;
        clear: both;
      }
  }