body { 
    background: url("images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
  
body { 
    background: url("../images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body { 
    background-image: url("../images/background.jpg") repeat 0 0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#addSheet {
    position: absolute;
    top: 25px;
    right: 25px;
}
#addSheet a{
    font-size: 8pt;
}