#translations {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#translations td, #translations th {
    border: 1px solid #ddd;
    padding: 8px;
}

#translations tr:nth-child(even){background-color: #f2f2f2;}

#translations tr:hover {background-color: #ddd;}

#translations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

